### IDE ###
bin/
tmp/
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.factorypath
.buildpath
.target
.apt_generated/
.apt_generated_test/
.project
.idea/
*.iml
*.iws
out/
.idea_modules/
.classpath

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Java ###
*.class

### Packages ###
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

### Logs ###
*.log

### Databases ###
*.sql
*.sqlite

### MacOS ###
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

.idea